@using www.aqmvc.com.pe.Data.Control
@model IEnumerable<UsuarioModel>
@{    
    AjaxOptions options = new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "lista",
        OnComplete = "waitingDialog.hide();",
        OnBegin = "waitingDialog.show('Espere un momento por favor');",
        OnFailure = "waitingDialog.hide();",

    };
}

<link rel="stylesheet" href="~/plugins/datatables/dataTables.bootstrap.css">
@section Scripts
{
<script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/Scripts/waitingfor.js"></script>
<script>
    //function showLoading() {
    //    $('#pleaseWaitDialog').modal('show');
    //    //alert('ini');
    //}
    //function removeLoading() {
    //    //alert('fin');// $('#pleaseWaitDialog').modal('hide');

    //    $('#pleaseWaitDialog').modal('hide');
    //    $('body').removeClass('modal-open');
    //    $('.modal-backdrop').remove();
    //}
</script>
}
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Actualizar Contraseña de usuario</h3>
                        <p class="text-danger">Realice el cambio de la clave de acceso a su cuenta.</p>
                    </div>
                    @using (Ajax.BeginForm("ListaUsuario", options))
                    {                    
                    <div class="box-header">
                        <div class="col-md-4">
                            <div class="input-group input-group">
                                <input type="text" maxlength="11" id="buscarnom" name="buscarnom" class="form-control" autofocus placeholder="Consultar por primer nombre" @*oninvalid="InvalidMsg(this);" required="required"*@>
                                <span class="input-group-btn">
                                    <button type="submit" id="btnaceptar" name="btnaceptar" class="btn btn-google btn-flat">Buscar</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    }
                        <!-- /.box-header -->
                        <div class="box-body" id="lista">
                            @{Html.RenderPartial("ListaUsuario", Model); }    
                        </div>
                        <!-- /.box-body -->
                    </div>
                <!-- /.box -->
               
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        @*<div class="modal fade" id="pleaseWaitDialog" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="basicModal" aria-hidden="true" tabindex="-1"><div class="modal-dialog"><div class="modal-content"><div class="modal-header"><h1 style="font-size:18px;font-weight:bold;color:#1c334f">Espere un momento por favor...</h1></div><div class="modal-body"><div class="progress progress-striped active"><div class="progress-bar" style="width: 100%;"><span class="sr-only">60% Complete</span></div></div></div></div></div></div>*@
        @*<div class="modal fade" id="pleaseWaitDialog" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="basicModal" aria-hidden="true" tabindex="-1"><div class="modal-dialog"><div class="modal-content"><div class="modal-header"><h1 style="font-size:18px;font-weight:bold;color:#1c334f">Espere un momento por favor...</h1></div><div class="modal-body"><div class="progress progress-striped active"><div class="progress-bar" style="width: 100%;"><span class="sr-only">60% Complete</span></div></div></div></div></div></div>*@
        <!-- /.row -->
    </section>
