@model www.aqmvc.com.pe.Data.Control.Usuario
@section Scripts
{
<script type="text/javascript">

        function InvalidMsg(textbox,str) {

            if (textbox.value.length == 0) {
                textbox.setCustomValidity(str);
            }
            else {
                    textbox.setCustomValidity('');
            }
            return true;
        }
        function ValidaMsgPassAct(textbox, str) {
           
            if (textbox.value.length == 0) {
                textbox.setCustomValidity('Ingrese el password actual');
            }
            else 
            {
                if (textbox.value== str)
                {
                    textbox.setCustomValidity('');
                }
                else
                {
                    textbox.setCustomValidity('El password actual ingresado es incorrecto');
                }
            }
            return true;
        }
        function ValidaMsgPassConfirm(textbox) {
           
            str = $("#txtnpass").val();
            if (textbox.value.length == 0) {
                textbox.setCustomValidity('ingrese el password a confirmar');
            }
            else 
            {
                if (textbox.value == str)
                {
                    textbox.setCustomValidity('');
                }
                else
                {
                    textbox.setCustomValidity('El password a confirmar debe de ser igual al password nuevo');
                }
            }
            return true;
        }
</script>
<script src="~/Scripts/modalcargando.js"></script>
    <script type="text/javascript">       
        function limpiaobj() {
            $("#txtpass").val('');
            $("#txtnpass").val('');
            $("#txtnpass2").val('');
        }
        function OnBegin() {
            var msg_titulo = 'Mensaje Aquarella!';
            var npas = $("#txtnpass").val();
            showLoading();
            $.ajax
                   ({
                       url: '../Cuenta/UpdPass',
                       dataType: "json",
                       type: "POST",                      
                       data: { npass: npas },                         
                       success: function (data) {
                           //removeLoading();
                           if (data.estado == '1') {                              
                               toastr.success(data.desmsg, msg_titulo);
                               limpiaobj();
                           }
                           else {                               
                               toastr.error(data.desmsg, msg_titulo);
                           }
                       },
                       error: function (xhr) {
                           //removeLoading();
                           toastr.error(xhr, msg_titulo);                           
                       }
                   })
        }

    </script>
}


<section class="content">
    <div class="row">          
        <div class="login-box">           
            @using (Ajax.BeginForm("Cuenta", new AjaxOptions { OnBegin = "OnBegin();",OnComplete= "removeLoading();",OnFailure= "removeLoading();" }))
            {
            <div class="login-box-body">
                <p class="login-box-msg">Cambio de Password</p>                
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" value="@Model._usu_nom_ape" readonly="readonly" placeholder="Usuario">
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" value="@Model._usu_nombre" readonly="readonly" placeholder="Email">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" name="txtpass" id="txtpass" class="form-control" oninvalid="ValidaMsgPassAct(this,@Model._usu_password)" placeholder="Password Actual" autofocus required="required">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" name="txtnpass" id="txtnpass" class="form-control"  placeholder="Nuevo Password" oninvalid="InvalidMsg(this,'ingrese el password a cambiar')" required="required">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" name="txtnpass2" id="txtnpass2"  class="form-control" placeholder="Confirmar Password" oninvalid="ValidaMsgPassConfirm(this)" required="required">
                    <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">

                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Guardar</button>
                    </div>
                    <!-- /.col -->
                </div>             
            </div>
            }
            </div>
    </div>
</section>
