<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--FACTURACION ELECTRONICA-->
  <configSections>
    <section name="Certificados" type="Carvajal.FEPE.PreSC.Configuration.CertificateSectionHandler, Carvajal.FEPE.PreSC"/>
  </configSections>
  <connectionStrings>
    <!--<add name="MyConexionSql" connectionString="Server=ecommerce.bgr.pe;Database=BD_ECOMMERCE;User ID=ecommerce;Password=Bata2018.*@=?++;Trusted_Connection=False;" providerName="System.Data.SqlClient"/>-->
    <add name="MyConexionSql" connectionString="Server=10.10.10.206;Database=BdAquarellaDes4;User ID=sa;Password=Bata2013;Trusted_Connection=False;" providerName="System.Data.SqlClient"/>
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0}; Extended Properties='Excel 8.0;HDR={1}'"/>
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0}; Extended Properties='Excel 8.0;HDR={1}'"/>
  </connectionStrings>
  <appSettings>
    <!--FACTURACION ELECTRONICA-->
    <add key="Ruta_Directorio_Mapas" value="C:\carvajal\Mapas"/>
    <add key="Ruta_Directorio_Esquemas" value="C:\carvajal\Esquemas"/>
    <add key="Nombre_Mapa_Notas" value="NOTAS_STD110.xml"/>
    <add key="Nombre_Mapa_Facturas_Boletas" value="FACTURA_BOLETA_STD110.xml"/>
    <add key="Nombre_Esquema_Notas" value="NOTAS.xml"/>
    <add key="Nombre_Esquema_Facturas_Boletas" value="FACTURA_BOLETA.xml"/>
    <add key="Ruta_Salida_XML_Firmado" value="C:\carvajal\xml"/>
    <!--FIN DE CODIGO-->
    <add key="CrystalImageCleaner-AutoStart" value="true"/>
    <add key="CrystalImageCleaner-Sleep" value="60000"/>
    <add key="CrystalImageCleaner-Age" value="120000"/>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;"/>
    <!-- NUMBER AND CURRENCY -->
    <add key="kNumber" value="N2"/>
    <add key="kCurrency" value="C2"/>
    <add key="FolderPath" value="Docs/"/>
    <!-- NUMBER DE POS Y TARJETA DE CREDITO -->
    <add key="ID_Num_Tarjeta_POS" value="004"/>
    <!-- RUTA DE ARCHIVOS PARA MOVIMIENTOS -->
    <add key="PathMovimiento" value="movimiento/"/>
  </appSettings>
  <!--CONFIG USUARIO Y PASSWORD FACTURACION ELECTRONICA-->
  <Certificados>
    <Certificado>
      <Ruc_Emisor>20101951872</Ruc_Emisor>
      <Certificado_Thumbprint>‎7b 24 0f 24 b9 c5 3a f8 e4 15 f5 15 a8 44 3f 77 99 46 05 5b</Certificado_Thumbprint>
      <Cargar_Certificado_Archivo>si</Cargar_Certificado_Archivo>
      <Ruta_Certificado>C:\carvajal\certificado\CDBATA.pfx</Ruta_Certificado>
      <Password_Certificado>190349</Password_Certificado>
    </Certificado>
  </Certificados>
  <!--FIN DE CODIGO-->
  <system.web>
    <customErrors mode="Off"/>
    <globalization uiCulture="es" culture="es-pe"/>
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
        <add tagPrefix="AQControl" tagName="Message" src="~/UserControl/ucMessage.ascx"/>
        <add tagPrefix="AQControl" tagName="ShippingForm" src="~/UserControl/ucShippingForm.ascx"/>
        <add tagPrefix="AQControl" tagName="ConfigLiq" src="~/UserControl/ucConfigLiq.ascx"/>
        <add tagPrefix="AQControl" tagName="WareAreaForm" src="~/UserControl/ucWareAreaForm.ascx"/>
        <add tagPrefix="AQControl" tagName="AddItemsForm" src="~/UserControl/ucAddItemsForm.ascx"/>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <!--<add assembly="log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>-->
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.Controllers, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.DataDefModel, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="Carvajal.FEPE.PreSC, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
        <add assembly="UBL20, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </assemblies>
    </compilation>
    <sessionState timeout="2880"/>
    <authorization>
      <deny users="?"/>
    </authorization>
    <authentication mode="Forms">
      <forms name=".ASPXAUTH" protection="All" loginUrl="~/Aquarella/Control/LoginForm.aspx" timeout="2880" defaultUrl="Default.aspx"/>
      <!--<forms name=".ASPXAUTH" protection="All" loginUrl="~/Aquarella/Interface/ExportarVentaAutomatic.aspx" timeout="2880" defaultUrl="Default.aspx"/>-->
    </authentication>
    <!--<httpRuntime targetFramework="4.0"/>-->
    <httpHandlers>
      <add path="CrystalImageHandler.aspx" verb="GET" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
  </system.web>
  <location path="Design">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="RRHH">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Windows">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Windows_Desarrollo">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Windows_Local">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Windows_WPF">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="WEB_PDF">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Styles">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Scripts">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Aquarella/Control/LoginForm.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Aquarella/Admonred/Contactenos.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Aquarella/Interface/EnviaCorreoContactenos.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Aquarella/Logistica/Manifiesto.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <!--<location path="Aquarella/Logistica/PanelManifiesto.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>-->
  <system.webServer>
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
    <!--<validation validateIntegratedModeConfiguration="false"/>-->
    <!--  <modules>
    <add name="Certificados"
         type="Carvajal.FEPE.PreSC.Configuration.CertificateSectionHandler, Carvajal.FEPE.PreSC" />
  </modules>-->
    <staticContent>
      <clientCache cacheControlMode="DisableCache"/>
    </staticContent>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ws_bataSoap"/>
        <binding name="Cons_ClienteSoap"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.10.10.208/web_site_electronica/ws_bata.asmx" binding="basicHttpBinding" bindingConfiguration="ws_bataSoap" contract="ServiceBata.ws_bataSoap" name="ws_bataSoap"/>
      <endpoint address="http://10.10.10.208/web_site_cliente/Cons_Cliente.asmx" binding="basicHttpBinding" bindingConfiguration="Cons_ClienteSoap" contract="ws_clientedniruc.Cons_ClienteSoap" name="Cons_ClienteSoap"/>
    </client>
  </system.serviceModel>
</configuration>