
@{
    ViewBag.Title = "Catalogo";
}
<script src="@Url.Content("~/assets/bootstrap/js/bootstrap.min.js")"></script>
 <!-- Page Title -->
<div class="page-title-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 wow fadeIn">
                <i class="fa fa-camera"></i>
                <h1>Catalogo /</h1>
                <p>Aquí está los catalogo</p>
            </div>
        </div>
    </div>
</div>
 <!-- Portfolio -->
<div class="portfolio-container">
    <div class="container">
        @*<div class="row">
            <div class="col-sm-12 portfolio-filters wow fadeInLeft">
                <a href="#" class="filter-all active">All</a> /
                <a href="#" class="filter-web-design">Web Design</a> /
                <a href="#" class="filter-logo-design">Logo Design</a> /
                <a href="#" class="filter-print-design">Print Design</a>
            </div>
        </div>*@
        <div class="row">
            <div class="col-sm-12 portfolio-masonry">
              
                <div class="portfolio-box web-design">
                    <div class="portfolio-box-container">
                        <a href="~/Catalogo/catalogo_primavera_2017/index.html" target="_blank"> <img src="~/Catalogo/catalogo_primavera_2017/pages/1.jpg" style="width:200px;height:250px" alt="" @*data-at2x="../assets/img/catalogo1/1.jpg"*@></a>
                        <div class="portfolio-box-text">
                            <h3>Primavera 2017</h3>
                            <p>Pasión por los zapatos</p>
                        </div>
                    </div>
                </div>

                <div class="portfolio-box web-design">
                    <div class="portfolio-box-container">
                        <a href="~/Catalogo/catalogo_total_2017_II/index.html" target="_blank"> <img src="~/Catalogo/catalogo_total_2017_II/pages/1.jpg" style="width:200px;height:250px" alt="" @*data-at2x="../assets/img/catalogo1/1.jpg"*@></a>
                        <div class="portfolio-box-text">
                            <h3>Precios de locura</h3>
                            <p>Total 2017 - II</p>
                        </div>
                    </div>
                </div>
               
               
                <div class="portfolio-box web-design">
                    <div class="portfolio-box-container">
                        <a href="~/Catalogo/catalogo_fiestas_patrias_2017/index.html" target="_blank"> <img src="~/Catalogo/catalogo_fiestas_patrias_2017/pages/1.jpg" style="width:200px;height:250px" alt="" @*data-at2x="../assets/img/catalogo1/1.jpg"*@></a>
                        <div class="portfolio-box-text">
                            <h3>Fiestas Patrias 2017</h3>
                            <p>Siempre a la Moda.</p>
                        </div>
                    </div>
                </div>
                <div class="portfolio-box web-design">
                    <div class="portfolio-box-container">
                        <a href="~/Catalogo/catalogo_padre_2017/index.html" target="_blank"> <img src="~/Catalogo/catalogo_padre_2017/pages/1.jpg" style="width:200px;height:250px" alt="" @*data-at2x="../assets/img/catalogo1/1.jpg"*@></a>
                        <div class="portfolio-box-text">
                            <h3>Padres 2017</h3>
                            <p>Ofertas mes de Papá.</p>
                        </div>
                    </div>
                </div>
                <div class="portfolio-box web-design">
                    <div class="portfolio-box-container">
                        <a href="~/Catalogo/catalogo_tu_conmigo_2017/index.html" target="_blank"> <img src="~/Catalogo/catalogo_tu_conmigo_2017/pages/1.jpg" style="width:200px;height:250px" alt="" @*data-at2x="../assets/img/catalogo1/1.jpg"*@></a>
                        <div class="portfolio-box-text">
                            <h3>Madres 2017</h3>
                            <p>Tu conmigo.</p>
                        </div>
                    </div>
                </div>
                <div class="portfolio-box web-design">
                    <div class="portfolio-box-container">
                        <a href="~/Catalogo/catalogo_liquid_total_2017/index.html" target="_blank"> <img src="~/Catalogo/catalogo_liquid_total_2017/pages/1.jpg" style="width:200px;height:250px" alt="" @*data-at2x="../assets/img/catalogo1/1.jpg"*@></a>
                        <div class="portfolio-box-text">
                            <h3>Liquidacion 2017</h3>
                            <p>Liquidacion Total.</p>
                        </div>
                    </div>
                </div>
                <div class="portfolio-box web-design">
                    <div class="portfolio-box-container">
                        <a href="~/Catalogo/catalogo_escolar_2017/index.html" target="_blank"> <img src="~/Catalogo/catalogo_escolar_2017/pages/1.jpg" style="width:200px;height:250px" alt="" @*data-at2x="../assets/img/catalogo1/1.jpg"*@></a>
                        <div class="portfolio-box-text">
                            <h3>Escolar 2017</h3>
                            <p>Summer Colecction.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/assets/js/jquery-1.11.1.min.js"></script>
<script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
@*<script src="~/Scripts/bootstrap-select.min.js"></script>*@
<script src="@Url.Content("~/assets/bootstrap/js/bootstrap.min.js")"></script>