<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--configuracion para la facturacion electronica CARVAJAL-->
  <configSections>
    <section name="Certificados" type="Carvajal.FEPE.PreSC.Configuration.CertificateSectionHandler, Carvajal.FEPE.PreSC" />
  </configSections>
  <connectionStrings>
    <!--DESAROOLLO-->
    <!--<add name="mysql" connectionString="Server=10.10.10.247;Database=batadb; Uid=batausr; Password=123456" />-->
    <!--PRODUCCION-->
    <!--<add name="mysql" connectionString="Server=web547.webfaction.com;Database=bataecperu; Uid=batauserec; Password=:UvF>b0Eo" />-->
    <!--<add name="mysql" connectionString="Server=181.177.242.172;Database=batadb; Uid=batausr; Password=123456" />-->
    <!--<add name="mysql" connectionString="Server=10.10.10.247;Database=batadb; Uid=batausr; Password=123456" />-->
    <add name="mysql" connectionString="Server=web547.webfaction.com;Database=bataecperu; Uid=batauserec; Password=:UvF>b0Eo" />
  </connectionStrings>
  <appSettings>
    <add key="Ruta_Directorio_Mapas" value="D:\carvajal\Mapas" />
    <add key="Ruta_Directorio_Esquemas" value="D:\carvajal\Esquemas" />
    <add key="Nombre_Mapa_Notas" value="NOTAS_STD110.xml" />
    <add key="Nombre_Mapa_Facturas_Boletas" value="FACTURA_BOLETA_STD110.xml" />
    <add key="Nombre_Esquema_Notas" value="NOTAS.xml" />
    <add key="Nombre_Esquema_Facturas_Boletas" value="FACTURA_BOLETA.xml" />
    <add key="Ruta_Salida_XML_Firmado" value="D:\carvajal\xml\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <Certificados>
    <Certificado>
      <Ruc_Emisor>20101951872</Ruc_Emisor>
      <!--   <Certificado_Thumbprint>‎7b 24 0f 24 b9 c5 3a f8 e4 15 f5 15 a8 44 3f 77 99 46 05 5b</Certificado_Thumbprint>-->
      <Cargar_Certificado_Archivo>si</Cargar_Certificado_Archivo>
      <Ruta_Certificado>D:\carvajal\certificado\CDBATA.pfx</Ruta_Certificado>
      <Password_Certificado>190349</Password_Certificado>
    </Certificado>
  </Certificados>
  <runtime>
    <NetFx40_LegacySecurityPolicy enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.19.0" newVersion="2.5.19.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.19.0" newVersion="2.5.19.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Synchronization.Data" publicKeyToken="89845DCD8080CC91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" />
  </startup>
  <!--<globalization uiCulture="es" culture="es-pe" />-->
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ws_bataSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.bgr.pe/web_site_electronica/ws_bata.asmx" binding="basicHttpBinding" bindingConfiguration="ws_bataSoap" contract="ServiceBata.ws_bataSoap" name="ws_bataSoap" />
    </client>
  </system.serviceModel>
</configuration>